.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 31px;
  color: white;
}

.ant-card-cover img {
  height: 200px;
  object-fit: cover;
}

.login-form {
  max-width: 50%;
  margin: 0 auto;
}

.login-form-button {
  width: 100%;
}
